<h1><strong><u>Programs for stack programs in different languages</u></strong></h1>
<br><br><br><br>

<div>
	    <p style="font-size: 20px">
	    <lable><strong>Click here for C program &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp -&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong></lable>
        <a ng-show="main.isLoggedIn" href="/c"><button type="button" class="btn btn-primary" >&nbsp&nbsp&nbspC&nbsp&nbsp&nbsp&nbsp</button></a>
        <br><br><br>
        </p>
        <p style="font-size: 20px">
        <lable><strong>Click here for C++ program &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp - &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong></lable>
        <a ng-show="main.isLoggedIn" href="/cpp"><button type="button" class="btn btn-primary" >&nbsp&nbspC++&nbsp&nbsp</button></a>
        <br><br><br>
        </p>
        <p style="font-size: 20px">
        <lable><strong>Click here for Java program &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp - &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong></lable>
        <a ng-show="main.isLoggedIn" href="/Java"><button type="button" class="btn btn-primary" >&nbspJava&nbsp</button></a>
        <br><br><br>
        </p>
        <p style="font-size: 20px">
        <lable><strong>Click here for Python program &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp - &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong></lable>
        <a ng-show="main.isLoggedIn" href="/python"><button type="button" class="btn btn-primary" >Python</button></a>
        <br><br><br>
        </p>
</div>