<br><br><br><br><br><br>

<div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome To Stack Application </h1>
        <br>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
        <a ng-show="!main.isLoggedIn" href="/login"><button type="button" class="btn btn-primary" >Login</button></a>
        <a ng-show="!main.isLoggedIn" href="/register"><button type="button" class="btn btn-primary" >Register</button></a>
        <a ng-show="main.isLoggedIn" href="/about"><button type="button" class="btn btn-primary" >Programs</button></a>
        <br>
        <br>
        <br>
        <br>
    </div>
      </div>
      





